@page "/"
@using GolfCourseMVC.Shared.Models.Course
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@inject NavigationManager navigation
@attribute [Authorize]
@using Blazor.WeatherWidget

<div class="ml-5">
    <h1>Indy Value Golf</h1>
    <p>Find out which golf courses provide the most value in the Indianapolis area</p>

    <div class="w-50">
        <BlazoredTypeahead SearchMethod="@SearchCourses"
                           TValue="CourseListItem"
                           TItem="CourseListItem"
                           Value="selectedCourse"
                           ValueChanged="HandleSearch"
                           ValueExpression="@(()=> selectedCourse)"
                           placeholder="Search For a Course By Name">
            <SelectedTemplate>
                @context.Name
            </SelectedTemplate>
            <ResultTemplate>
                @context.Name
            </ResultTemplate>
            <NotFoundTemplate>
                Sorry, no courses match the name entered.
            </NotFoundTemplate>
        </BlazoredTypeahead>
    </div>
    <br />
    <a href="/course" id="view">View All Courses</a><br />
</div>


<style>
    #view {
        background-color: white;
    }
</style>


@code {
    private CourseListItem selectedCourse;

    private IEnumerable<CourseListItem> _courses;


    protected override async Task OnInitializedAsync()
    {
        _courses = await http.GetFromJsonAsync<List<CourseListItem>>("/api/course");

    }
    public async Task<IEnumerable<CourseListItem>> SearchCourses(string searchText)
    {
        return await http.GetFromJsonAsync<List<CourseListItem>>($"api/Course/Search/{searchText}");

    }

    private void HandleSearch(CourseListItem course)
    {
        if (course == null) return;
        selectedCourse = course;
        navigation.NavigateTo($"course/id/{selectedCourse.Id}");
    }
}