@page "/"
@using GolfCourseMVC.Shared.Models.Course
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@inject NavigationManager navigation
@attribute [Authorize]

<h1>Hello, world!</h1>

Welcome to your new app.

<BlazoredTypeahead SearchMethod="@SearchCourses"
                    TValue="CourseListItem"
                    TItem="CourseListItem"
                    Value="selectedCourse"
                    ValueChanged="HandleSearch"
                    ValueExpression="@(()=> selectedCourse)"
                    placeholder="Search..."
>
    <SelectedTemplate>
        @context.Name
    </SelectedTemplate>
    <ResultTemplate>
        @context.Name
    </ResultTemplate>
    <NotFoundTemplate>
        Sorry, no courses match the name entered.
    </NotFoundTemplate>
</BlazoredTypeahead>
   


@code {
    private CourseListItem selectedCourse;

    private IEnumerable<CourseListItem> _courses;


    protected override async Task OnInitializedAsync()
    {
        _courses = await http.GetFromJsonAsync<List<CourseListItem>>("/api/course");

    }
    public async Task<IEnumerable<CourseListItem>> SearchCourses(string searchText)
    {
        return await http.GetFromJsonAsync<List<CourseListItem>>($"api/Course/Search/{searchText}");        

    }

    private void HandleSearch(CourseListItem course)
    {
        if (course == null) return;
        selectedCourse = course;
        navigation.NavigateTo($"course/id/{selectedCourse.Id}");
    }
}