@page "/course/id/{Id:int}"
@using GolfCourseMVC.Shared.Models.Course
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient http

<h3>Course Details</h3>

@if (Course != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span><strong>@Course.Name</strong></span>
                <span class="text-muted">Course #@Course.Id</span>
            </div>
            <div class="card-body">
                <p class="card-text">@Course.Address</p>
                <p class="card-text">@String.Format("{0:n0}", Course.Length) Yards</p>
                <a href=@($"/course/{Id}/ratings") class="btn btn-outline-secondary">View Ratings</a>
                <a href=@($"/course/{Id}/prices") class="btn btn-outline-secondary">View Prices</a>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="text-center justify-content-between w-25">
                    <a href=@($"/course/edit/{Id}") class="btn btn-outline-primary">Edit Course</a>
                    <a href=@($"/course/delete/{Id}") class="btn btn-outline-danger mt-1">Delete Course</a>
                    <hr />
                    <a href="/course">Back to Course List</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public CourseDetail Course { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Course = await http.GetFromJsonAsync<CourseDetail>($"/api/course/id/{Id}");
    }
}
