@page "/rating"
@using GolfCourseMVC.Shared.Models.Rating
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient http

<h3>All Ratings</h3>
<a href="/rating/create">Enter New Rating</a>

@if (_ratings == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Rating #</th>
                <th>Course</th>
                <th>Date Posted</th>
                <th>Score</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rating in _ratings)
            {
                <tr>
                    <td>@rating.Id</td>
                    <td>@rating.CourseName</td>
                    <td>@rating.Date</td>
                    <td><strong>@rating.Score</strong></td>
                    <td><a href=@($"rating/{rating.Id}")>Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<RatingListItem> _ratings;

    protected override async Task OnInitializedAsync()
    {
        _ratings = await http.GetFromJsonAsync<List<RatingListItem>>("/api/rating");
    }
}
